<?php
/**
 * Storelocator template for stores list
 *
 * @author Magento
 */

/**
 * @var $this Burstonline_Storelocator_Block_List
 * @see Burstonline_Storelocator_Block_List
 */
?>
<?php
$markers = array();
?>
<script type="text/javascript">
jQuery(document).ready(function()
{
	jQuery('#mapsearchbtn').click(function()
	{
		if(jQuery('#city').val() != '')
		{
			flag=false;
			var state = jQuery('#state').val();
			var zipcode = jQuery('#zipcode').val();
			if(state == '') 
			{
				if(zipcode == '') 
				{
					alert('Select State/Enter Zipcode');
					return false;
				}
			}
			if(zipcode == '') 
			{
				if(state == '') 
				{
					alert('Select State/Enter Zipcode');
					return false;
				}
			}
				
	   }
		
	});
	
});
</script>
<div class="page-title">
    <h1><?php echo Mage::helper('burstonline_storelocator')->__('Store Locator') ?></h1>
</div>
<table border="0" id="search-store">
    <tr>
        <td style="width: 45%">
            <form action="<?php echo $this->getPostActionUrl() ?>" method="get" id="addressSearch">
                <div class="fieldset">
                    <h2 class="your-store-title">SEARCH RESULTS</h2>
                    <ul class="form-list store-list">
                        <?php $_countries = $this->getCountries();?>
                        <?php if (count($_countries) > 0): ?>
                        <li>
                           
                            <label for="country"><?php echo $this->__('Radius') ?></label>
                            <div class="input-box">
                                <?php $radius=$this->escapeHtml($this->getFormData()->getRadius()); ?>
                                <select name="radius" id="radius" class="" title="<?php echo $this->__('Country') ?>">
                                    <?php if($radius){ ?>
				           <option value="<?php echo $radius; ?>" selcted><?php echo $radius."mi"; ?></option>
				    <?php }else{ ?>
                                           <option value=""><?php echo $this->__('-- Please Select --'); ?></option>
				    <?php }?>
                                    <option value="20">20<?php echo $this->__('mi'); ?></option>
                                    <option value="50" selected="selected" >50<?php echo $this->__('mi'); ?></option>
                                    <option value="100">100<?php echo $this->__('mi'); ?></option>                                   
                                </select>
                            </div>
                            
                             <label for="zipcode" ><?php echo $this->__('Zipcode') ?></label>
                            <div class="input-box">
                                <input type="text" name="zipcode" id="zipcode" value="<?php echo $this->escapeHtml($this->getFormData()->getZipcode()) ?>" title="<?php echo $this->__('Zipcode') ?>" class="input-text" />
                            </div>
                            
                            
                        
                            
                        </li>
                        <?php endif; ?>
                       
                        <li>
                            <label for="city" ><?php echo $this->__('City') ?></label>
                            <div class="input-box">
                                <input type="text" name="city" id="city" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text" />
                            </div>
                            
                                 <label for="country"><?php echo $this->__('Country') ?></label>
                            <div class="input-box">
                                <?php if($this->getFormData()->getCountry()){$cc=$this->getFormData()->getCountry();}else{$cc='US';} ?>
                                <select name="country" id="country" class="select" title="<?php echo $this->__('Country') ?>">
                                    <option value=""><?php echo $this->__('-- Please Select --'); ?></option>
                                    <?php foreach($_countries as $_country): ?>
                                    <option value="<?php echo $_country['value'] ?>" 
                                        <?php if($cc == $_country['value']):?>selected="selected"<?php endif;?>>
                                        <?php echo $_country['label'] ?>
                                    </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            
                        </li>
                         <li>
                            <label for="state" ><?php echo $this->__('State') ?></label>
                             <div class="input-box">
                        <?php  
                         $querystate=$this->escapeHtml($this->getFormData()->getState());
                        $countrycode = $cc;?>
                        <select name="state" id="state" class="select" title="<?php echo $this->__("state") ?>">
							<option value=''>Please Select</option>
							<?php if ($countrycode != '') {
								$statearray = Mage::getModel('directory/region')->getResourceCollection() ->addCountryFilter($countrycode)->load();
								foreach ($statearray as $_state) { ?>
									<option 
									<?php if($querystate == $_state->getCode()){?>selected="selected"<?php };?>
									value='<?php echo $_state->getCode();?>'> <?php echo $_state->getDefaultName();?> </option>
							   <?php }
							} ?>
							 </select>
    
                                <!--<input type="text" name="state" id="state" value="<?php echo $this->escapeHtml($this->getFormData()->getState()) ?>" title="<?php echo $this->__('state') ?>" class="input-text" />-->
                            </div>

                            <label for="type"><?php echo $this->__('Type') ?></label>
                            <div class="input-box">
                            <select name="type" id="type" class="" title="<?php echo $this->__('Type') ?>">
    							<option value='' selected="selected">Please Select</option>
                                <option value="pressure">Pressure</option>
                                <option value="bottle">Bottle/POU</option>
                            </select>
                            </div>
                        </li>
                        <li>
                            <div style="line-height:6.5em">
                              <button type="submit" id="mapsearchbtn" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
                            <button type="reset" title="<?php echo $this->__('Reset') ?>" class="button" onClick="setLocation('<?php echo Mage::getUrl('*/*/index') ?>')"><span><span><?php echo $this->__('Reset') ?></span></span></button>
                            </div>
                            
                        </li>
                        <!--<li style="line-height:6.5em">
                            <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
                            <button type="reset" title="<?php echo $this->__('Reset') ?>" class="button" onClick="setLocation('<?php echo Mage::getUrl('*/*/index') ?>')"><span><span><?php echo $this->__('Reset') ?></span></span></button>
                        </li>-->
                    </ul>
                </div>
            </form>
        </td>
    </tr>
</table>
<?php
    $_StoreCollection = $this->getStoreCollection();
    $i = 1;
    $totalStoreCount = $_StoreCollection->count(); 
?>
<div class="your-store-title">
    <?php echo Mage::helper('burstonline_storelocator')->__('YOUR SERVICE CENTERS') ?>
</div>
<div id="stores-list-div">
<table border="0" id="stores">
    <?php if(!$totalStoreCount): ?>
    <tr>
        <td><p class="note-msg"><?php echo $this->__('There are no stores.') ?></p></td>
    </tr>
    <?php else: ?>
    <tr>
    <?php foreach ($_StoreCollection as $store): ?>
    <?php if(strtolower($store->getCity())==strtolower($this->getFormData()->getCity())) {?>
        <td valign="top" class="stores-view">
            <table id="stores-inner">
                <tr><td class="stores-name"><a href="<?php echo $this->getStoreUrl($store);?>"><?php echo $this->escapeHtml(ucfirst($store->getName())) ?></a></td></tr>
               
               
              
               <tr>
                    <td>
                     <!-- Store Address -->
                     <?php if($store->getStreetAddress()): ?>
                      <?php echo $this->escapeHtml($store->getStreetAddress()) ?><br>
                      <?php endif; ?>
                   </td>
               </tr>
               <tr style="float:left;">
                    <td> <!-- City -->
                        <?php if($store->getCity()): ?>
                        <?php echo $this->escapeHtml(ucfirst($store->getCity())) ;?><br>
                          <?php endif; ?>
                         
                   </td>
               </tr>
                <tr style="float:left;">
                    <td>
                        <!-- State -->
                        <?php if($store->getState()): ?>
                        <?php echo ", ".$this->escapeHtml(ucfirst($store->getState())); ?><br>
                        <?php endif; ?>
                        
                   </td>
               </tr>
                <tr style="float:left;">
                    <td>
                        <!-- Zip Code -->
                        <?php if($store->getZipcode()): ?>
                        &nbsp;<?php echo $this->escapeHtml($store->getZipcode()) ?><br>
                        <?php endif; ?>
                        
                      
                   </td>
               </tr>

               <tr>
                    <td>
                        <!-- Phone -->
                        <?php if($store->getPhone()): ?>
                        Phone:<?php echo $this->escapeHtml($store->getPhone()) ?><br>
                        <?php endif; ?>
                   </td>
               </tr>
               <tr>
                    <td>
                        <!-- Email -->
                        <?php if($store->getEmail()): ?>
                        Email: <?php echo $this->escapeHtml($store->getEmail()) ?><br>
                        <?php endif; ?>
                   </td>
               </tr>
               <tr>
                    <td>
                        <!-- Phone -->
                        <?php if($store->getUrl()): ?>
                        URL: <a href="<?php echo $this->escapeHtml($store->getUrl()) ?>"><?php echo $this->escapeHtml($store->getUrl()) ?></a><br>
                        <?php endif; ?>
                   </td>
               </tr>
               <tr><td>&nbsp;</td></tr>
               <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <button onclick="setLocation('<?php echo $this->getStoreUrl($store);?>');" class="button" title="<?php echo Mage::helper('burstonline_storelocator')->__('View Details') ?>" type="button">
                                        <span>
                                            <span>
                                            <?php echo Mage::helper('burstonline_storelocator')->__('View Details') ?>
                                            </span>
                                        </span>
                                    </button>
                                </td>
                                
                                <td width="1px">&nbsp;</td>
                                <td>
                                    <?php 
                                    //Get store google map related information
                                    $storeName = $store->getName();
                                    $storeLat = $store->getLatitude();
                                    $storeLong = $store->getLongitude();
                                    $storeRadius = $this->getRadius($store);
                                    $storeZoomLevel = $this->getZoomLevel($store);
                                    ?>
                                    <?php if($storeLat && $storeLong): ?>
                                    <button onclick="initialize(<?php echo $storeLat ;?>, <?php echo $storeLong ;?>, <?php echo $storeRadius ;?>, <?php echo $storeZoomLevel ;?>, '<?php echo $storeName ;?>', 'store-list-map-canvas');" class="button" title="<?php echo Mage::helper('burstonline_storelocator')->__('View Map') ?>" type="button">
                                        <span>
                                            <span>
                                            <?php echo Mage::helper('burstonline_storelocator')->__('View Map') ?>
                                            </span>
                                        </span>
                                    </button>
                                <?php endif ;?>
                                </td>
                            </tr>
                        </table>
                        
                   </td>
               </tr>
         </table>
         </td>
        <?php if ($i++ % 2 == 0) :?>
        </tr>
        <tr> 
        <?php endif; ?>
        <?php 
        // for google map
        $markers[$i]['name'] = str_replace("'","\\'",$store->getName());
        $markers[$i]['lat'] = $store->getLatitude();
        $markers[$i]['long'] = $store->getLongitude();
        ?>
        <?php } ?>
      <?php endforeach; ?>
     
      <!---- NOt condition-->
    <?php foreach ($_StoreCollection as $store): ?>
    <?php if(strtolower($store->getCity())!=strtolower($this->getFormData()->getCity())) {?>
        <td valign="top" class="stores-view">
            <table id="stores-inner">
                <tr><td class="stores-name"><a href="<?php echo $this->getStoreUrl($store);?>"><?php echo $this->escapeHtml(ucfirst($store->getName())) ?></a></td></tr>
               
               
              
               <tr>
                    <td>
                     <!-- Store Address -->
                     <?php if($store->getStreetAddress()): ?>
                      <?php echo $this->escapeHtml($store->getStreetAddress()) ?><br>
                      <?php endif; ?>
                   </td>
               </tr>
               <tr style="float:left;">
                    <td> <!-- City -->
                        <?php if($store->getCity()): ?>
                        <?php echo $this->escapeHtml(ucfirst($store->getCity())) ;?><br>
                          <?php endif; ?>
                         
                   </td>
               </tr>
                <tr style="float:left;">
                    <td>
                        <!-- State -->
                        <?php if($store->getState()): ?>
                        <?php echo ", ".$this->escapeHtml(ucfirst($store->getState())); ?><br>
                        <?php endif; ?>
                        
                   </td>
               </tr>
                <tr style="float:left;">
                    <td>
                        <!-- Zip Code -->
                        <?php if($store->getZipcode()): ?>
                        &nbsp;<?php echo $this->escapeHtml($store->getZipcode()) ?><br>
                        <?php endif; ?>
                        
                      
                   </td>
               </tr>

               <tr>
                    <td>
                        <!-- Phone -->
                        <?php if($store->getPhone()): ?>
                        Phone:<?php echo $this->escapeHtml($store->getPhone()) ?><br>
                        <?php endif; ?>
                   </td>
               </tr>
               <tr>
                    <td>
                        <!-- Email -->
                        <?php if($store->getEmail()): ?>
                        Email: <?php echo $this->escapeHtml($store->getEmail()) ?><br>
                        <?php endif; ?>
                   </td>
               </tr>
               <tr>
                    <td>
                        <!-- Phone -->
                        <?php if($store->getUrl()): ?>
                        URL: <a href="<?php echo $this->escapeHtml($store->getUrl()) ?>"><?php echo $this->escapeHtml($store->getUrl()) ?></a><br>
                        <?php endif; ?>
                   </td>
               </tr>
               <tr><td>&nbsp;</td></tr>
               <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <button onclick="setLocation('<?php echo $this->getStoreUrl($store);?>');" class="button" title="<?php echo Mage::helper('burstonline_storelocator')->__('View Details') ?>" type="button">
                                        <span>
                                            <span>
                                            <?php echo Mage::helper('burstonline_storelocator')->__('View Details') ?>
                                            </span>
                                        </span>
                                    </button>
                                </td>
                                
                                <td width="1px">&nbsp;</td>
                                <td>
                                    <?php 
                                    //Get store google map related information
                                    $storeName = $store->getName();
                                    $storeLat = $store->getLatitude();
                                    $storeLong = $store->getLongitude();
                                    $storeRadius = $this->getRadius($store);
                                    $storeZoomLevel = $this->getZoomLevel($store);
                                    ?>
                                    <?php if($storeLat && $storeLong): ?>
                                    <button onclick="initialize(<?php echo $storeLat ;?>, <?php echo $storeLong ;?>, <?php echo $storeRadius ;?>, <?php echo $storeZoomLevel ;?>, '<?php echo $storeName ;?>', 'store-list-map-canvas');" class="button" title="<?php echo Mage::helper('burstonline_storelocator')->__('View Map') ?>" type="button">
                                        <span>
                                            <span>
                                            <?php echo Mage::helper('burstonline_storelocator')->__('View Map') ?>
                                            </span>
                                        </span>
                                    </button>
                                <?php endif ;?>
                                </td>
                            </tr>
                        </table>
                        
                   </td>
               </tr>
         </table>
         </td>
        <?php if ($i++ % 2 == 0) :?>
        </tr>
        <tr> 
        <?php endif; ?>
        <?php 
        // for google map
        $markers[$i]['name'] = str_replace("'","\\'",$store->getName());
        $markers[$i]['lat'] = $store->getLatitude();
        $markers[$i]['long'] = $store->getLongitude();
        ?>
        <?php } ?>
      <?php endforeach; ?>
      
      <!---- NOt condition-->
      
      <?php endif; ?>
    </tr> 
     <tr>
         <td align="right">&nbsp;</td>
    </tr>
     <tr>
        <td align="right" colspan="3"><?php echo $this->getPager() ?></td>
    </tr>
</table>
</div>
<?php if($totalStoreCount): ?>
<div id="stores-list-gmap-div">
    <div id="store-list-map-canvas">&nbsp;</div>
</div>
<?php if(is_array($markers) && count($markers)>0 ) :?>
 <script>
  //<![CDATA[
  var markers = [
<?php foreach ($markers as $marker) : ?>
 ['<?php echo $marker['name'];?>',<?php echo $marker['lat'];?>,<?php echo $marker['long'];?>],
<?php endforeach ?>
  ];
    //]]>
 </script>
<?php endif ?>
 <div id="show-all-store" style="display:none;">
    <button onclick="place_multiple_markers(markers, googleMapDivId);" class="button" title="<?php echo Mage::helper('burstonline_storelocator')->__('Show All Stores') ?>" type="button">
        <span>
          <span>
            <?php echo Mage::helper('burstonline_storelocator')->__('SHOW ALL SERVICE CENTERS') ?>
          </span>
        </span>
    </button>
 </div>
<script type="text/javascript">
    //<![CDATA[
        var addressSearch = new VarienForm('addressSearch', true);
    //]]>
    </script>
  <script>
      //<![CDATA[
    var googleMapDivId = 'store-list-map-canvas';
    google.maps.event.addDomListener(window, 'load', place_multiple_markers(markers, googleMapDivId));
      //]]>
</script>
<?php endif ?>
<script type="text/javascript">
	jQuery("#country").change(function(){	
			var url="http://www.oasiscoolers.com/index.php/storelocator/index/getregionupdate";
			var optionValue = jQuery("#country").val();	
			 jQuery.ajax({
        type:'POST',
        url:url,
        data:{country:optionValue},
        success:function(data){
           
           jQuery('#state').replaceWith(data);
          
        }
    });		
		});
</script>
